{% extends 'base.html' %}


{% load static %}

{% block abc %}

<!DOCTYPE html>
<html lang="en">
<head>

<body>

<div class="container mt-3">
  <h2>Shippping  form</h2>
  <form method="POST">
    {% csrf_token %}
    <div class="mb-3 mt-3">
        <label for="email">Name:</label>
        <input type="text" class="form-control" id="email" value={{user.name}}  name="name">
      </div>
    <div class="mb-3 mt-3">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" value={{user.email}}  name="email" readonly>
    </div>
    <div class="mb-3 mt-3">
        <label for="email">number:</label>
        <input type="number" class="form-control" id="email" value={{user.number}} name="number">
      </div>
      <div class="mb-3 mt-3">
        <label for="email">Address:</label>
        <input type="text" class="form-control" id="email" value={{user.address}}  name="address">
      </div>
    <div class="mb-3">
      <label for="pwd">Final amount:</label>
      <input type="number" class="form-control" id="pwd" name="final" value={{final}} readonly>
    </div>
    <br>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% if m %}
<script>alert("{{m}}")</script>
{% endif %}

</body>
</html>
{% endblock %}